<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
    	html显示的内容
    	<%- htmlView %>
    </p>
    <br/><br/>
    <p>
      email内容:
      <!--
      <%= email %>
      -->

      <% if(!email){ %>
        <div>
          <input type="button" value="登录" onclick="location.href='/login'">
          <input type="button" value="注册" onclick="location.href='/register'"/>
        </div>
      <%}else{%>
        <div>
          你好:<%= email %>
          <input type="button" value="评论" onclick="location.href='/comment'"/>
          <input type="button" value="退出" onclick="location.href='/logout'"/>
        </div>
      <%}%>
    </p>
    

    <!-- top250 -->
    <% movieTitle.forEach(function(item,index){%>
        <div><%= item.title %></div>
      <%  }) %>
  </body>
</html>
